[2018-01-25 09:05] dorachan2000 opened #4 "Setup heroku hosting service stay up"
Django server hosted on heroku currently sleeps after 30min of inactivity and needs some sort of way to keep itself up.

Reference for the free plan
https://www.heroku.com/pricing

I suggest setting up another heroku service to ping each other using cronjob or some web server

[2018-01-25 09:08] dorachan2000 opened #5 "Setup pagination for /agendas"
Currently the /api/agendas endpoint returns a huge chunk of the agendas as a json.
Can we add pagination or some query parameters so consumers can have more selective data?

https://council-tag.herokuapp.com/api/agendas

[2018-01-25 09:24] dorachan2000 opened #6 "Create login functionality and/or oauth for google and facebook"

[2018-01-26 18:56] dstrodtman commented on #5
@dorachan2000 How do you need the data structured in order to be consumed? Also, are we planning on filtering everything by date so that only upcoming topics are appearing in the user's feed, or do we want to also show past/archived items?

[2018-01-28 07:53] dorachan2000 commented on #5
How about we keep it simple for now and add `limit`, `start` and `order` parameter in the url so consumers can get the "five" "most recent" agendas and continue to get rest of agendas with "start" parameter.

sending GET request to the following

`/api/agendas?limit=5&start=5&order=time"`

would return something like
[code]

Default values would be nice too, so hitting `/api/agendas` would just as

[2018-01-31 12:47] ShariqT commented on #6
Setup the login using the native django user model. I don't really want to be the one to setup the google app or the facebook app needed to access the OAuth. I already have downloaded the python-social package that uses a common interface with Google, Facebook, OpenID, etc.

http://python-social-auth.readthedocs.io/en/latest/configuration/django.html

[2018-02-01 02:36] ShariqT commented on #5
django restframework comes with a pagination class ready to use.
http://www.django-rest-framework.org/api-guide/pagination/

[2018-02-01 03:29] hungrymonkey opened #9 "Tag api server is missing both icons and description."
https://counciltag.docs.apiary.io/#reference/0/tags/list-tags

A sample from tags.

[code]

As shown in the figma app, the api server needs a way to provide icons and description.

<img width="1981" alt="screen shot 2018-01-31 at 7 27 46 pm" src="https://user-images.githubusercontent.com/771339/35659759-df3f5b24-06bc-11e8-8d8f-2d869b42a3ce.png">

Icons may be standardize another way, but descripti

[2018-02-01 11:23] ShariqT opened #13 "setup management command to respect dates"
We want to only pull in the most recent agenda that is posted. Right now, the scrape_data management command does not do any filtering based on date -- it just starts pulling down everything. We want it so that the command will check against the agenda it is about to pull down and the newest agenda that we have in the database. If the agenda on the website is newer than what we have in the databas

[2018-02-01 11:37] ShariqT commented on #4
Setup a temporary account with uptimerobot.com to ping the server every 15 minutes

[2018-02-01 11:37] #4 closed

[2018-02-08 04:22] hungrymonkey opened #19 "[Feature Request] Query executive summary"
Would it be possible to grab the "executive summary" from the current site to place on a page in the wire flow being create

http://santamonicacityca.iqm2.com/Citizens/Detail_LegiFile.aspx?Frame=&MeetingID=1134&MediaPosition=&ID=2800&CssClass=

div class="LegiFileSectionContents"

[2018-02-08 04:53] ShariqT opened #20 "Add Message Model"
Add a message model that is connected to the agenda item. This will be filled in whenever the user pushes the "submit message" button on an agenda item. We want to be able to count how many times someone has interacted with a particular agenda item and tags.

Message model should have user id, message content, agenda id, timestamp when the action was taken

[2018-02-11 02:46] eselkin opened #21 "User may add second user with same email (not unique)"
This causes the user then not to be able to log in (since login is using email address in place of username)...
This seems like something django should have thought about in their backend for using email in place of the username field.

Fix: We need to subclass AbstractUser anyway later for OAuth so we should abstract it with uniqueness checking for email addresses.

Doesn't really need to be hand

[2018-02-15 04:44] hungrymonkey opened #23 "Agenda items should also have a date"
http://council-tag.herokuapp.com/api/tag/Learning/agenda/items

I do not see any type of date as queried in the agenda items

[2018-02-15 04:53] hungrymonkey commented on #23
querying url by agendas does provide the meeting time. However, querying by tag doesnt

https://council-tag.herokuapp.com/api/agendas/

[2018-02-17 07:57] eselkin commented on #23
#25 addresses this, adds meeting_time field, but not merged from master to prod yet.

[2018-02-17 07:57] #23 closed

[2018-03-03 11:45] ShariqT commented on #13
@eselkin took care of this task with commit e054c6bbb9f33ada69220a444580e5a73b639d1e

[2018-03-03 11:45] #13 closed

[2018-03-03 16:38] ShariqT commented on #5
This is done in commit 9dd40913f48adeeb8ecd5ef5ad2a212f28cafc48

[2018-03-03 16:38] #5 closed

[2018-03-07 05:39] ShariqT commented on #9
this is done with commit 8df0a797df3dd705c87570ac9c68458380f894c0

[2018-03-07 05:39] #9 closed

[2018-03-22 01:49] hungrymonkey opened #38 "agenda > items > list should also have pagenation or limit query"
https://council-tag.herokuapp.com/docs/

[code]

do we have pagination for this query?

https://github.com/hackla-engage/CouncilTag-Django/issues/5

[2018-03-22 02:32] hungrymonkey opened #39 "Some Pagination does nothing"
[code]

[2018-03-22 02:33] hungrymonkey opened #40 "Some pagination queries does nothing"
[code]

[2018-03-22 02:35] hungrymonkey commented on #40
dupilicate

https://github.com/hackla-engage/CouncilTag-Django/issues/39

[2018-03-22 02:35] #40 closed

[2018-03-22 02:36] hungrymonkey commented on #39
i think this queries should do nothing

[2018-03-22 02:41] hungrymonkey opened #41 "Document dummy account"
Need an example or doc on how to format account queries

https://github.com/hackla-engage/CouncilTag-Django/issues/6

[2018-04-12 02:27] hungrymonkey opened #42 "Testing send->message api route"
[code]

is this correct?

[2018-04-12 03:18] hungrymonkey commented on #41
Test account will be named "test?*" <- regex

[2018-04-24 02:07] hungrymonkey opened #43 "Testing signup api"
[code]

did i curl correctly?

[2018-04-24 02:10] hungrymonkey commented on #42
[code]

tried again

[2018-04-24 02:11] ShariqT commented on #42
Test on the dev server url. That has the most work on it right now

On Mon, Apr 23, 2018, 7:10 PM hungrymonkey <notifications@github.com> wrote:

[2018-04-24 02:11] hungrymonkey commented on #42
dev server url?
[code]

[2018-04-24 02:14] hungrymonkey commented on #42
@ShariqT  are there other url that i do not know of?

[2018-04-24 02:25] hungrymonkey commented on #42
@ShariqT

[code]
i think they both work

[2018-04-24 03:00] hungrymonkey commented on #42
[code]

[2018-04-24 03:01] hungrymonkey commented on #42
[code]

[2018-04-24 03:21] hungrymonkey opened #44 "[Feature request] feed list agenda should have an order by"
meeting_time?

name?

[2018-04-24 21:13] eselkin commented on #44
By name you mean sorting alphabetically?

[2018-04-24 22:37] ShariqT commented on #42
The dev server has the message API endpoint and some of the other most
recent changes. So use that

On Mon, Apr 23, 2018, 8:01 PM hungrymonkey <notifications@github.com> wrote:

[2018-04-25 03:24] #44 closed, assigned to nobody

[2018-04-25 03:26] hungrymonkey commented on #42
ok

https://github.com/hackla-engage/CouncilTag-Django/issues/43

[2018-05-08 02:38] hungrymonkey opened #45 "Testing api tag create"
[code]

[code]

i am doing things wrong

https://github.com/hackla-engage/CouncilTag-Django/blob/0066944929d2675e6b491e57b92b9871b5b862a5/CouncilTag/api/views.py#L123

[2018-05-08 02:51] hungrymonkey commented on #21
What is the plan for the login?

oauth? user + email etc?

[2018-05-10 20:57] eselkin commented on #21
user & email, but we have to limit to one email, because if you add two with the same email it won't let you log in with either.

[2018-05-12 20:06] eselkin commented on #45
What is the content you are trying to post to that endpoint?

[2018-05-13 23:32] hungrymonkey commented on #43
they both work or one or another?

[2018-05-13 23:33] hungrymonkey commented on #45
@eselkin i was poking the tag api since it wasnt really documented.

i couldnt tell whether or not the tag was a string or id value.

thanks

[2018-05-15 02:51] hungrymonkey commented on #45
[code]

[2018-05-15 02:53] hungrymonkey opened #48 "Querying user saved tags"
I cannot find an endpoint to grab all the tags the user have saved

[2018-05-15 17:09] eselkin commented on #45
Hmm, that should be right, let me test

[2018-05-15 17:10] eselkin commented on #45
Turns out my changes to master have not made it to prod. So it's not really getting the data being sent in its current form.

[2018-05-22 21:13] eselkin opened #50 "Tests broken (SQLite3 cannot handle Postgres types or something)"
Not sure why testing fails
But this prevents circleci from functioning.
Prevents pipeline from working

[2018-06-19 03:42] ricokareem opened #52 "spike : automatic email verification"
to encourage passive engagement, research how we can do some sort of automatic, low-level, sanity-checking of email addresses. possibly removing the need for the user to respond to a verification email.

format username@domain.com is valid
lookup domain.com does not come back as NSDOMAIN
SMTP response.

[2018-06-20 01:09] owenjoseph commented on #52
Hey @ricokareem I'm gonna tag this one with the label "question" - we've got a lot of open research items like this, thought it might make sense to raise their visibility.

[2018-06-20 02:40] TeddyCr opened #53 "Automate Agenda Scrapper Execution"
The current feed shows agenda items up to 5/22, while council website has agenda items posted up to 6/12.

[2018-06-20 03:01] TeddyCr opened #54 "Store user info (name, zip, etc.), comments, and votes per agenda items"
Connect front end comment form + votes with the database to store user input data.

[2018-06-21 14:28] eselkin commented on #54
There is already a storage of comments when the /api/add/message is called

[2018-06-21 14:29] eselkin commented on #53
Currently there is no way to build that into the server. This is something that probably needs to be run outside the server as a cron job or something.

[2018-06-21 14:31] eselkin commented on #41
Not related to a backlog of server related issues. Use https://backend.engage.town/docs for all API information.

[2018-06-21 14:31] #41 closed

[2018-06-21 14:31] eselkin commented on #20
Done

[2018-06-21 14:31] #20 closed

[2018-06-21 14:34] eselkin commented on #39
Not sure you can ever force extraneous query parameters to make a valid query return nothing. I guess you could do exact matches, but that ruins everything else.

[2018-06-21 14:34] #45 closed

[2018-06-21 14:36] TeddyCr commented on #54
Awesome, does it stores all the other information as well:
- First name
- Last name
- Zip Code
- Vote
- etc.

[2018-06-21 14:37] eselkin commented on #45
These are standard requests with standard security headers. CSRF is standard, Authorization Bearer is standard when using JWT as indicated by token from login.

[2018-06-21 14:37] eselkin commented on #43
They both work

[2018-06-21 14:37] #43 closed

[2018-06-21 15:16] eselkin commented on #53
I just wrote a script to do it as a cron job.

[2018-06-21 15:16] #53 closed

[2018-06-21 15:29] eselkin commented on #54
Yes

[2018-06-21 15:30] eselkin commented on #54
<img width="212" alt="screen shot 2018-06-21 at 8 30 10 am" src="https://user-images.githubusercontent.com/5606931/41729179-67676c06-752d-11e8-8e19-ed7c0b9e7888.png">

[2018-06-21 17:00] eselkin commented on #38
Can now use #57 ?offset=x&limit=y query params
Please use backend.engage.town

[2018-06-21 17:00] #38 closed

[2018-06-21 17:01] eselkin commented on #39
It looks like pagination wasn't enabled on the tags, because there are so few

[2018-06-21 17:08] #39 closed

[2018-06-21 17:42] eselkin commented on #52
Actually, I think this is simple enough to just put in without thinking about having to research more. We can take it out if we decide to go a different route. Why not make a pull request, @ricokareem?

[2018-06-22 17:52] owenjoseph commented on #52
Hey @eselkin I was thinking about this feature as a protection (if imperfect) against voting abuse. The importance of verifying a submitter's residence status is an open question still.

[2018-06-23 15:57] TeddyCr commented on #52
@ricokareem, for the MVP, a comment will trigger an email verification to be sent to the input email address. While the user has not clicked on the verification link, the comment will be marked as unverified.

[2018-06-26 20:01] iamemilywing opened #60 "System should Trigger a Verification email on form submit if email address is not verified"
User should receive an email with a request to confirm email address if they submit and confirm a Position (use the vote form) and do not have a verified email in the system.

User should be linked to a confirmation page.  [(Issue linked Here)](https://github.com/hackla-engage/engage-client/issues/75)

**Sample text:**
Please click on the link to verify this email and complete your submission

{{l

[2018-06-26 20:04] TeddyCr commented on #60
Hey Emily, there is already an issue for this -> #52 . Feel free to add anything on there directly

[2018-06-26 20:05] iamemilywing opened #61 "Agenda Item Report should be compiled into a PDF at 12:01 PM PST the day of the Meeting and sent to council"
Agenda Item Report should be compiled at 12:01 PM PST the day of the Meeting and sent to council.

Report should be a PDF and go to multiple emails (TBD, leave the ability for multiple).  Report should be sent before 1pm PST the day of meeting.

The report should have
- User email
- Name (if avail_
- Position
- Comments
- Array of demographic data (if avail)
- Timestamp Posted in PST  (format: Mon

[2018-06-26 21:00] TeddyCr commented on #52
@ricokareem Adding@iamemilywing comment from #60 (now closed and marked as duplicate):

-----

User should receive an email with a request to confirm email address if they submit and confirm a Position (use the vote form) and do not have a verified email in the system.

User should be linked to a confirmation page. (Issue linked Here)

Sample text:
Please click on the link to verify this email and

[2018-06-26 21:01] TeddyCr commented on #60
Closing issue as a duplicate of #52. Comments here have been moved to #52

[2018-06-29 00:35] owenjoseph opened #62 "System should generate report for all proposals that have received feedback and email them to City Staff after 1200hrs day of Council Meeting"
After 1200hrs – after system has locked out users from submitting additional feedback - system should aggregate feedback from each proposal which has received feedback into a Report. Each proposal/agenda item should have a separate report.

These reports should be generated as PDFs. Once these PDFs are generated, they should be emailed to councilmtgitems@smgov.net

The subject of the email should

[2018-06-29 00:40] owenjoseph commented on #62
@iamemilywing could you attach the report mockup you created to this ticket?

[2018-06-29 03:16] TeddyCr opened #63 "Allow users to register via social media login (OAuth)"
Integrate social login into the user authentification sign up flow.

[2018-06-29 03:18] TeddyCr commented on #62
@owenjoseph looks like this a duplicate of #61 created by @iamemilywing. Would you be able to transfer your comment over there and close this one?

[2018-06-29 21:04] owenjoseph commented on #62
Whoops! Thanks @TeddyCr .

[2018-06-29 21:04] #62 closed

[2018-06-29 21:11] iamemilywing commented on #60
@TeddyCr  sorry about this mess.

[2018-07-02 06:37] eselkin commented on #52
@TeddyCr, this is not the same as the other issue #60
This method is a passive method, not the link and integration from #60.
**Reopen #60**
This issue should be closed if we are going with #60 (active user verification is better than passive).

[2018-07-02 06:37] #52 closed

[2018-07-02 06:38] eselkin commented on #60
@iamemilywing You were correct in opening this issue. But don't add "Help wanted" unless I ask for help. :-)

[2018-07-02 06:40] eselkin commented on #19
No longer querying executive summary.

[2018-07-02 06:40] #19 closed

[2018-07-05 08:39] eselkin commented on #61
Would be helpful if someone knew reportlab well! Any takers?

[2018-07-06 23:16] eselkin commented on #60
I'm prioritizing the bug in scraping now, so re-adding help wanted.

[2018-07-07 20:52] eselkin opened #66 "Scraping data does not scrape entire agenda"
Agenda sections currently scraped are inconsistent with actual agendas.

[2018-07-09 23:15] eselkin commented on #66
#66, #67, #68 solve this issue, increasing the number of agenda items on the DB from 496 to 919. Also handles data and strings much better.

[2018-07-09 23:15] #66 closed

[2018-07-14 20:09] TeddyCr commented on #61
@eselkin I'll look into it.

[2018-07-14 20:18] TeddyCr commented on #60
@eselkin @iamemilywing, sorry about the confusion, thought we would keep the threat evolution under the  old ticket.

[2018-07-14 20:31] TeddyCr commented on #61
@eselkin @owenjoseph, I see a writePDF.py in the ingest app, is this fully completed?

[2018-07-16 15:11] TeddyCr commented on #60
@eselkin sorry about that, I thought we would add to the initial issue. :)

[2018-07-17 15:11] TeddyCr commented on #61
@eselkin, cool, I'll take on that one.

[2018-07-18 18:09] eselkin opened #81 "/user/tags post and delete seem to be unable to pass through X-CSRFToken in swagger."

[2018-07-24 19:06] eselkin opened #83 "Document API"
Documenting API using Swagger openapi3 specs and drf-yasg.

[2018-07-31 01:39] TeddyCr commented on #61
Pull request has been submitted

[2018-07-31 01:58] TeddyCr commented on #83
Hey @eselkin could you provide more info as to what is needed?

[2018-07-31 03:25] TeddyCr commented on #54
Added the Ethnicity models and script to prepopulate values in database.

[2018-07-31 04:01] #54 closed

[2018-07-31 04:03] #83 closed

[2018-08-07 15:11] TeddyCr commented on #50
@eselkin do you know if that still needs to be looked at?

[2018-08-10 04:57] eselkin opened #87 "Prevent user comments after 12:00 pm cutoff"
Actually, we should add a cutoff time column to the committee,

Maybe there should be columns like:
next_agenda: fk to agenda
next_agenda_cutoff: datetime

This should be updated daily, to allow comments only on agenda items of that agenda number or later, up until the cutoff time.

[2018-08-14 14:39] #61 closed

[2018-08-27 18:15] owenjoseph opened #94 "Upcoming council meeting (Aug 28) items not scraped / not present in feed."
The most recently displayed items are from the Aug 14th meeting.

I wonder if this has to do with the fact that there are two meetings posted for tomorrow, one at 4:30 and one at 5:30 (same is happening on Sept 25):

![screen shot 2018-08-27 at 11 12 05 am](https://user-images.githubusercontent.com/39287217/44677193-2c91e380-a9ea-11e8-811c-02dace8acc8a.png)

The 4:30 meeting agenda is mostly empty

[2018-08-27 20:25] eselkin opened #95 "Parallelize the scraping"
Scraping is slow because you have to scrape each agenda to see if there are new items, but you should be able to scrape agendas simultaneously or make the test to see if the agenda item is already scraped before you actually scrape that agenda item.

[2018-08-27 20:39] eselkin commented on #50
handled this in #93 by @vinvasir

[2018-08-27 20:39] #50 closed

[2018-08-27 23:09] eselkin opened #96 "Have scrape_data trigger an email/google sheet update"

[2018-08-28 02:19] hungrymonkey opened #98 "Do we have a new doc page?"
https://github.com/hackla-engage/engage-backend/issues/48

I am going to attempt to query save user tags soon.

https://council-tag.herokuapp.com/docs/

Current council-tag.herokuapp.com doesnt document the new end point

[2018-08-28 03:17] eselkin commented on #98
I've mentioned this a few times (and it's on this repo's readme)... that is no longer the backend site.
The backend is: https://backend.engage.town
The swagger docs are at: https://backend.engage.town/swagger/

[2018-08-28 03:17] #98 closed

[2018-08-28 03:18] eselkin commented on #98
Also querying tags, adding tags is not MVP

[2018-08-28 03:34] hungrymonkey commented on #98
ok, thanks. i will update the README

[2018-09-02 15:15] TeddyCr opened #102 "Save URL from scrapped agenda item"
We need to add a URL field to the JSON file created when scrapping an agenda item. The URL field should contain the URL corresponding to the agenda item scrapped

[2018-09-12 07:34] eselkin opened #105 "Peculiar things with backend API... not really a bug"
NOT In DEBUG
https://backend.engage.town/api/agendas/ ...... working from postman and AJAX requests
https://backend.engage.town/api/agendas/ ...... not working in browser
https://backend.engage.town/swagger/       ...... not working
in DEBUG:
all work

[2018-09-14 08:24] eselkin opened #106 "Store session token in message creation"
Store session token so that when user comments once, the backend knows not to require that user to send emails. We can also NOT require that user to verify the reCaptchas repeatedly that way as well.

[2018-09-15 19:55] TeddyCr commented on #106
@eselkin is that to prevent email confirmation for each agenda item submission?

---
cc @owenjoseph

[2018-09-15 20:15] TeddyCr opened #107 "Limit Agenda Item Display to Most Recent Date on /feed Load"
The feed page should only display the most recent agenda items on load. The `Load More` button at the bottom of the page will remain. When clicking on it, users should be able to load previous agenda items.

[2018-09-15 20:19] TeddyCr opened #108 "Add a Date Section/Title Grouping Agenda Items per Dates on /feed"
The agenda items should be grouped under a date section/title to ease user navigation.

[2018-09-15 20:25] #108 closed, assigned to nobody

[2018-09-15 20:26] #107 closed

[2018-09-15 21:16] eselkin opened #109 "Mutex on writePDF"
writePDF needs to have some sort of mutex created so it can only be created once

[2018-09-15 21:19] eselkin opened #110 "writePDF is called numerous times on the beats schedule."
Need to find if the new beats app.conf is scheduling the task only once now

[2018-09-15 21:19] #109 closed, assigned to nobody

[2018-09-15 21:52] eselkin opened #111 "Change cutoff schedule in celery"
Change celery startup to generate the forms 5 minutes later
* add 5 * 60 to the scheduled cron job's time

[2018-09-15 22:03] eselkin opened #112 "Change writePDF to exclude item's section without comments"
Alter writePDF to exclude sections without authorized comments and include a summary like
* No comments agreeing or disagreeing with this agenda item were recorded

[2018-09-17 02:43] eselkin commented on #107
This is really a front-end issue

[2018-09-17 20:23] owenjoseph opened #114 "Proposed enhancements to Report PDF Format"
Following feedback should be considered enhancement / non-MVP for the time being, but pending feedback from City Clerk we may want to peel some of these features off and tag them for MVP.

## Cover Page
### Summary of Proposed Enhancements
- Header with City and Council Meeting Date
- Footer with total page count of report
- Layout and Copy suggestions

### Annotated Cover Page

<img width="758" a

[2018-09-17 21:10] owenjoseph opened #115 "Update verification email body copy (remove reference to account creation)"
Current email body copy reads:

Please update to read:

Note: "[here]" denotes a generated link and is not meant to be interpreted literally - please do not change this.

[2018-09-25 04:05] eselkin opened #123 "/agendas/item requires refactoring to include committee timezone."

[2018-09-27 15:13] TeddyCr commented on #102
Moved to front-end. Changed approached from storing actual URL to building a URL using parameters

[2018-09-27 15:13] #102 closed

[2018-09-30 02:00] eselkin commented on #123
It's not from the frontend, the parameter to the function is part of the Committee table.

[2018-09-30 02:16] #123 closed

[2018-10-02 03:55] hungrymonkey opened #127 "Are the tags populated?"
Tags return no results.
[code]

[2018-10-03 02:54] eselkin commented on #127
curl -X GET "https://backend.engage.town/api/tag/Community/agenda/items/" -H "accept: application/json"
works

[2018-10-03 03:01] hungrymonkey commented on #127
I kinda figure the cors thing.
Ok, the url changed a little bit

[2018-10-03 03:13] #127 closed

[2018-10-03 17:15] jvillama commented on #112
I can look into this one.

[2018-10-08 17:55] #115 closed

[2018-10-09 02:29] hungrymonkey opened #131 "Body Agenda Item is a List."
May I ask why should the body be a list. I think a Map is more appropriate.

[code]

[2018-10-09 02:39] hungrymonkey commented on #131
[code]
same issue with agenda. It might be stored as a List.

[2018-10-09 20:31] eselkin commented on #131
It is a list, and was changed to be that a long time ago. Not all sections are present and when they are not present, backend was crashing. I wasn't in charge of that. We can look into it again but it's not a requirement.

[2018-10-18 02:33] hungrymonkey opened #134 "Set up email notfication to signal scrapping"
Kaveman suggested, we can register a private email to signal when to run the scraper.
Email should be received after a new agenda item has been added to the website.

This feature can reduce the time between posting and scrapping.

[2018-10-18 04:12] eselkin commented on #134
Not very easy and requires integration with new APIs rather than just increasing the frequency of a simple HTTP request.

Alternative ideas:  changing to monitoring the RSS feed require a cron-like check, either it's to poll the RSS feed or poll the website.

[2018-10-31 14:51] TeddyCr commented on #134
@eselkin are you ok with labeling this one as backlog?

[2018-10-31 14:56] TeddyCr commented on #96
@iamemilywing  are you able to provide more context on this one?

[2018-10-31 14:57] TeddyCr commented on #105
That seems to have been fixed, Can you confirm @eselkin

[2018-10-31 14:58] #106 closed

[2018-10-31 14:59] TeddyCr commented on #106
Closing issue as this was marked as done

[2018-10-31 15:00] TeddyCr commented on #110
@eselkin do you have an update on this issue?

[2018-10-31 15:00] TeddyCr commented on #111
@eselkin do you have an update on this issue?

[2018-10-31 19:09] TeddyCr commented on #96
Solved with Celery -> events are logged by Celery every 5 minutes

[2018-10-31 19:09] #96 closed

[2018-11-24 05:13] TeddyCr opened #137 "Missing packages in requirements.txt?"
Hey guys,

I was trying to run the backend on my local machine and I had to add all the below packages manually to finally be able to run `python3 manage.py`. My virtual environment was activated and I did run `pip install -r requirements.txt`.

I think we may need to add these to the requirements.txt file. Let me know if that makes sense and I'll go ahead and add them:
* jango_celery_beat
* drf-o

[2018-11-24 20:04] eselkin commented on #137
Will do right now

[2018-11-27 03:36] owenjoseph opened #139 "Setup staging environment on AWS / CI for "staging" branch in GitHub"
Now that the MVP of Engage is live, we need a staging environment and staging branches in engage-client and engage-backend to accommodate development and testing of new product features.

[2018-11-27 04:44] owenjoseph opened #140 "Update scrape to exclude "Special Agenda Items""
Currently the Feed is displaying, with priority, items from
 **"2.	SPECIAL AGENDA ITEMS"**
These items are not suitable for feedback, and are typically contentless:

![screen shot 2018-11-26 at 8 15 29 pm](https://user-images.githubusercontent.com/39287217/49059081-f8ca8380-f1bb-11e8-997f-a941f25031e2.png)

![screen shot 2018-11-26 at 8 15 40 pm](https://user-images.githubusercontent.com/39287217/

[2018-12-04 02:42] #112 closed

[2018-12-04 03:26] #110 closed, assigned to eselkin

[2018-12-04 03:30] TeddyCr commented on #81
closing as no activity in the past 30 days

[2018-12-04 03:30] #81 closed

[2018-12-12 05:37] #137 closed

[2019-01-10 04:51] kaelancotter opened #144 "Docker Compose build Fail"
Running `docker-compose build` from the latest clean commit currently fails. ( https://github.com/hackla-engage/engage-backend/commit/e39c581b2d9986be8c89ead7e4081be1b9d0f9d6 )  I think this is related to the discrepency between requests versions in the [requirements.txt](https://github.com/hackla-engage/engage-backend/blob/master/requirements.txt#L88) file and the [pipenv](https://github.com/hack

[2019-01-10 04:57] kaelancotter commented on #144
I'm not sure if its worth it but a new build directive for circleci with the compose stack would be a possibility for testing/prevention  (Might also be a way with pipenv but I'm not too familiar with the tool)

[2019-01-12 09:04] eselkin commented on #144
We could have it be a build step... Not sure why that thing happened with requests... it should always be kept up to date.

[2019-01-13 02:22] TeddyCr opened #145 "Docker Compose - Exposed AWS keys"
The keys for the AWS environment variable are exposed in plain text in [docker-compose.yml](https://github.com/hackla-engage/engage-backend/blob/master/docker-compose.yml) file.

These are not production keys correct?

[2019-01-13 03:12] eselkin commented on #145
They are not current keys

[2019-01-13 03:12] #145 closed

[2019-01-13 03:14] eselkin commented on #134
I think we can close it since we're not going in that direction.

[2019-01-13 03:14] #134 closed

[2019-01-13 03:38] eselkin opened #146 "Docker build step"
Closing #144 since no longer fails, but need a test in circleci YAML that does the docker-compose build or docker build . to test if system builds.

[2019-01-13 03:38] #144 closed

[2019-01-15 03:13] hungrymonkey opened #147 "Live backend doc broke"
https://backend.engage.town/swagger/
[code]

[2019-01-24 04:33] kaelancotter commented on #146
I'll take a look at this, should be fairly straightforward

[2019-01-25 07:12] #147 closed

[2019-01-29 03:49] TeddyCr opened #151 "Create training dataset for ML Model"
## Context
We are working on building a ML Model to power two new functionality on Engage.town:
* Search bar
* Topic Categorization

## File(s)
File will need to be created in with the below format

|Subject/Title |Recommanded Actions | Executive Summary |
|-------------|:----------------------:|:--------------------:|
|                      |                                       |

[2019-01-29 04:14] TeddyCr opened #152 "Train ML Model for Agenda Meeting Meta Data"
## Context
We are working on building a ML Model to power two new functionality on Engage.town:
* Search bar
* Topic Categorization
This issue relates to the development of ML algorithm to power the search functionality

## File
TBD

## Tasks
- [ ] Write ML Model for

[2019-01-29 15:33] TeddyCr commented on #151
@badolar, here are agenda items from 1/2016 - 1/2019. You may have to clean up some rows as I pulled this directly from the DB. I'll follow up with data from 2010-2015.

attachment: [Engage_Agenda_Items.csv.zip](https://github.com/hackla-engage/engage-backend/files/2808357/Engage_Agenda_Items.csv.zip)

---
cc @owenjoseph  / @eselkin

[2019-01-29 16:48] badolar commented on #151
Teddy, this is great.  One question, are the columns different sentences?

Rohit

On Tue, Jan 29, 2019 at 7:33 AM Teddy <notifications@github.com> wrote:

[2019-01-29 17:20] TeddyCr commented on #151
Oh wait, that is the wrong file. I'll resend you the right one tonight. Sorry about that.

[2019-01-30 05:48] TeddyCr commented on #151
This is the right file

[Engage_Agenda_Items.csv.zip](https://github.com/hackla-engage/engage-backend/files/2811025/Engage_Agenda_Items.csv.zip)

[2019-01-30 23:30] TeddyCr commented on #152
I am gonna move  this issue to the CouncilML [repo ](https://github.com/hackla-engage/CouncilML)@badolar

[2019-01-30 23:30] #152 closed

[2019-01-31 01:44] eselkin opened #153 "Add Elasticsearch component and model for search."
- [ ] Add API endpoints for elasticsearch
- [ ] Add model for elasticsearch
- [ ] Add elastic search image as component to docker-compose (preferably 6.6.0)
- [ ] Add component of scraping to populate elasticsearch model

[2019-02-05 05:49] TeddyCr opened #154 "Move PDF_Reports folder to the static folder"
## Context
Currently, the generated PDF report is saved in a PDF_Reports folder on the server. To make it readily available to users to download on the client, we need to move this folder to the Django `STATIC_ROOT` folder as a subfolder.

## Task
- [ ] move `PDF_Reports` folder to `static` folder as a subfolder
- [ ] update `writePDF.py` to reference the and save the report to `static/PDF_Reports

[2019-02-05 18:58] TeddyCr commented on #95
@eselkin just thinking of seomething regarding this, could Parallelizing the scrapping create a DOS and bring their site down if we send multiple requests at the same time?

[2019-02-27 22:39] eselkin commented on #95
I made the scraping much faster in the last iteration, so I don't really think this is that important. But no, it's not a DOS style parallelization. 50 requests or something is not going to trigger that type of result.

[2019-03-12 03:38] hungrymonkey opened #155 "Future possibilities: scrape rss feeds"
We can always scrape the rss feed but it takes longer to load.

https://www.smgov.net/departments/clerk/agendas_rss.ashx

https://www.smgov.net/departments/clerk/AgendasRssToHTML.aspx

I will add more information when I manage to finish the parser project.

[2019-03-26 02:05] hungrymonkey opened #156 "Scraper needs to be refactored into a library."
https://github.com/hackla-engage/engage-backend/blob/master/CouncilTag/ingest/utils.py

The scraper seems to push data models as the scraper serializes it.

The scraper needs to be refactor so the parser is a library instead.

* what this about?
Trying to write a unit test
* why we need to do it?
Separate side effects from the scraper
* what is the impact of not doing it?
No way to unit test the s

[2019-03-26 02:24] hungrymonkey commented on #156
I am thinking of changing save -> yield.

[2019-03-26 02:40] kaelancotter opened #157 "Compose swagger endpoint throws 500 on missing flex"
http://localhost:8000/swagger/?format=openapi

[2019-03-26 02:40] kaelancotter commented on #157
Investigating

[2019-03-26 02:45] hungrymonkey commented on #156
It seems like http request is embedded in the code

https://github.com/hackla-engage/engage-backend/blob/master/CouncilTag/ingest/utils.py#L50

Not a good thing.

[2019-03-26 02:53] hungrymonkey commented on #156
https://github.com/hackla-engage/engage-backend/blob/master/CouncilTag/ingest/data.py#L88

Another get request embedded.

[2019-03-26 02:57] hungrymonkey commented on #156
@dstrodtman @eselkin

I am thinking of attempting to untangle get request from the serialization code. I am thinking of sprinkling yield instead of another method call.

[2019-03-26 02:59] hungrymonkey commented on #156
My changes should be as minimum as possible

[2019-03-26 03:24] hungrymonkey opened #158 "PyMySQL in requirements.txt"
https://github.com/hackla-engage/engage-backend/blob/master/requirements.txt#L74

I believe this project uses postgres and redis

https://github.com/hackla-engage/engage-backend/blob/master/CouncilTag/settings.py#L122

Do we need this dep?

[2019-03-31 00:56] TeddyCr opened #160 "apps.py wrong variable checking?"
Hey @kaelancotter @eliselkin,

In `apps.py`, should  not `if DEBUG:` be `if CELERY:`. This seems to be running the celery tasks. `DEBUG` in dev will always return `True`, so whether you want to run celery in dev or not this will always run celery.

I know I had an issue with it and switching to `if CELERY:` allow me to run the dev server without having to set up Celery.

[code]

[2019-03-31 00:59] TeddyCr commented on #156
@hungrymonkey can you give more details, background and context for the team to understand:
- what this about
- why we need to do it
- what is the impact of not doing it
- what benefits would it provide for the project overall (for the current municipality and potentially other municipalities)

----

cc @owenjoseph

[2019-03-31 05:50] eselkin commented on #160
Ah, that could be it

[2019-03-31 05:52] eselkin commented on #158
It's related to something else that depends on it. I think. Do requirements the graph.

[2019-03-31 05:57] eselkin commented on #156
Yield is for generators/iterators saves are required to store the data to the database

[2019-03-31 05:57] eselkin commented on #156
That get_data is not an http request.

[2019-03-31 05:58] eselkin commented on #156
the scraper does need to be an app (not a library) by itself. But we'll have to look at that as a group

[2019-03-31 14:11] hungrymonkey commented on #156
@eliselkin

I am thinking of doing something some simple as
[code]
Either way, I need to clean up all the side effects from the scraper.

[2019-03-31 14:26] hungrymonkey commented on #158
Ok, I will find a tool to list deps
https://github.com/naiquevin/pipdeptree
I might end up putting this issue on the back burner for awhile.

[2019-03-31 14:52] kaelancotter commented on #158
pipenv in alredy in the project.  I think `pipenv graph` should show the dependency graph

[2019-03-31 20:19] eselkin commented on #156
That's missing the depth of the items

[2019-04-01 00:54] TeddyCr commented on #160
:) I'll make a PR with this fix.

[2019-04-01 23:31] eselkin commented on #158
Yeah, did that, nothing depends on it, so @hungrymonkey you can make a PR to remove it

[2019-04-02 01:16] joshbeme commented on #158
https://github.com/hackla-engage/engage-backend/pull/161
deleted a line on this issue

[2019-04-02 01:33] #158 closed

[2019-04-02 02:37] kaelancotter commented on #157
looks that fixed it.

[2019-04-04 04:35] owenjoseph opened #162 "Add API endpoint for upcoming meeting(s)"
Dig this comment from engage-client issue 135: https://github.com/hackla-engage/engage-client/issues/135#issuecomment-478267596

I think it would add value if we were to provide the upcoming meeting dates in the "no-active-issues" Splash text, but @joshbeme noted that this data isn't available in our API endpoint. Are we even scraping this data (upcoming city council meeting dates)?

[2019-04-04 05:34] eselkin commented on #162
No, we're not scraping any data that doesn't have meeting agendas yet

[2019-04-04 05:36] #157 closed

[2019-04-04 05:36] #160 closed

[2019-04-04 05:37] eselkin commented on #154
I think adding them to static is a problem... I believe static is parsed at startup and not updated if there are changes. I'll double check this.

[2019-04-04 05:39] eselkin commented on #154
Yeah, the only way we can change it is if we use whitenoise as the static files middleware.

[2019-04-04 05:40] eselkin commented on #154
Even whitenoise suggests this is a bad use of static files. We will have them in another directory.

[2019-04-04 05:40] #154 closed

[2019-04-04 05:43] eselkin commented on #154
static PDFs will be served from https://backend.engage.town/staticpdf/xxxx.pdf using nginx

[2019-04-05 23:13] owenjoseph commented on #162
@eliselkin I feel like there's still value to displaying the date of the next upcoming scheduled meeting, even if agenda items for that meeting haven't been posted by the city yet. At the very least I think this kind of messaging would support the Call to Action to sign up to the newsletter – something along the lines of: "The next scheduled city council meeting is [date]. Agenda Items aren't post

[2019-04-06 08:00] eselkin commented on #162
We'd have to create a separate scraper, some other way to store unscraped agenda dates, etc.

[2019-04-07 21:41] owenjoseph commented on #162
Understood. Maybe we can just direct users to the city agendas page for now.

On Sat, Apr 6, 2019 at 1:00 AM Eli Selkin <notifications@github.com> wrote:

[2019-04-07 22:32] hungrymonkey commented on #162
@owenjoseph Now, you understand why we desperately need a way this unit scraper project.

We cannot add more features until we can ensure correct output.

[2019-04-08 23:53] eselkin commented on #162
That's completely unrelated

[2019-04-16 01:41] kaelancotter opened #163 "Fix datetime.utcnow references in apps.py"
https://github.com/hackla-engage/engage-backend/blob/0702408fbc74b46effa3e74ad0819deb8ed482e5/CouncilTag/apps.py#L42

Currently seeing

Traceback (most recent call last):
backend_1   |   File "manage.py", line 22, in <module>
backend_1   |     execute_from_command_line(sys.argv)
backend_1   |   File "/root/.local/share/virtualenvs/engage_backend_service-etyuH5cE/lib/python3.6/site-packages/django/

[2019-04-16 02:24] #163 closed

[2019-04-23 01:11] #146 closed

[2019-04-29 23:31] owenjoseph commented on #140
Easy fix for this would be to add a conditional to not render agendaCards when the Executive Summary or Recommended Position are null.

[2019-04-29 23:51] owenjoseph opened #167 "PDF Report enhancement - Present Feedback in Agenda Order"
Per hackla-engage/Product-Documentation#3, city requests that the feedback be presented in the report in the same order it appears in an the Agenda, i.e. in numbered order, e.g.:

2a
2b
2c
3a
3b
4a
4b
4c
(etc)

NOTE: this also encompasses a request to have the agenda number listed for each item - this is different from the AgendaID, which we are already listing.

[2019-04-29 23:57] owenjoseph opened #168 "PDF Report enhancement - clickable ToC"
Per hackla-engage/Product-Documentation#3, city would like to be able to hyper to the feedback for each agenda item. A clickable Table of Contents on the 2nd page of the report should address this request.

[2019-04-30 17:36] BerkhanBerkdemir opened #170 "Optimizing Docker-related files and images"
Hi there,

I don't know how much you are using Docker containers in this project, but I believe that using Docker containers improve the developer happiness since they don't need to install and configure every single component that the project requires.

# Files

`docker-compose.yml` and `Dockerfile` contains large Debian images, for example, PostgreSQL, Redis, and Python images. Debian does a gre

[2019-05-01 05:08] eselkin commented on #170
I'm not sure what the purpose of this issue is.
The docker setup here is for testing and is not used currently for deployment!

The size of the container matters minimally in its current form.
The Dockerfile could be cut down to using a smaller image, but we're trying to restrict to a specific python version that is sometimes not available on some distributions.

The Dockerfile does not need those

[2019-05-01 05:09] eselkin commented on #168
Please don't use the Engage Project Plan for roadmaps for the backend.

[2019-05-01 05:27] BerkhanBerkdemir commented on #170
A way to make a Docker development environment and decreasing the CI time.

The official image has Debian, Debian (`slim`) and Alpine distributions. Before posting this issue, I run tests with `python:3.6.5-alpine` image.

Anyway. I can clearly see that you use Docker on CircleCI, and there is no plan or user that uses Docker for development purpose.

Thank you for reviewing that issue, @eselkin.

[2019-05-01 06:23] eselkin commented on #170
Yes, we can use any of the python 3.6.5 images. You can make a PR for that change, of course

[2019-05-07 02:32] TeddyCr commented on #95
@eliselkin  Is that still something we want to work on?

[2019-05-07 03:26] TeddyCr opened #172 "Add & Set Up Elasticsearch image to docker-compose"
### Context
Engage is working on developing a search functionality to improve the UI experience of its user. We'll use elastic search to enable users to narrow down agenda items to a specific topic.
**Interesting link:** [install Elasticsearch on Docker](https://www.elastic.co/guide/en/elasticsearch/reference/current/docker.html)

### File(s)
The docker compose file can be found at the [root of th

[2019-05-07 03:29] TeddyCr commented on #162
Marked this has abandoned for now and closed the issue

[2019-05-07 03:29] #162 closed

[2019-05-07 03:30] TeddyCr commented on #156
@hungrymonkey @eliselkin can this issue be closed? it has been marked as proposed for slightly over a month.

[2019-05-07 03:31] TeddyCr commented on #155
@hungrymonkey @eliselkin, can this be closed? It has been marked as proposal for almost 2 months.

[2019-05-07 03:34] TeddyCr commented on #153
@eliselkin, to improve the way we track feature development, we are going to track feature on the organization project board. This should allow us to:
- track development progress related to a specific feature more easily
- be able to track what needs to be done across frontend and backend repo

I have created the [search feature](https://github.com/orgs/hackla-engage/projects/3) project board alr

[2019-05-07 03:36] TeddyCr commented on #140
@eliselkin was that ever fixed?

[2019-05-07 05:04] owenjoseph commented on #168
Hey @eliselkin I was just trying to get this issue memorialized and parked somewhere. Is there a different way you'd recommend I handle things like this? Maybe put it in Backlog (since there's obviously some defining left to do)?

[2019-05-07 05:20] eselkin commented on #140
@TeddyCr, @owenjoseph said it should be a condition on the frontend. At some point, there may be content in those special agenda items and they may wish to show them

[2019-05-07 05:21] eselkin commented on #153
It's very confusing when working on the backend to see content related to the frontend.

[2019-05-07 05:22] eselkin commented on #156
I have no problem closing it.

[2019-05-07 05:22] #156 closed

[2019-05-07 05:23] eselkin commented on #155
I don't find it a useful thing to look into.

[2019-05-07 05:23] #155 closed

[2019-05-07 05:24] eselkin commented on #95
I'm not sure. I'll keep it open and we'll consider it later.

[2019-05-07 05:25] eselkin commented on #168
Yeah, it just gets confusing when working on the backend to take tickets from something that's not backend focused.

[2019-05-07 15:43] TeddyCr commented on #153
That makes sense. Let's assign it to both project as you did (the Feature focused one (organization scope) and the backend specific one (repo scope)). We gonna move away from the generic organization project board (still keeping the repo specific one, though), as it is confusing for us to track feature progress.

Can you rename the backend specific project board to something more generic (the MVP

[2019-05-14 01:24] kaelancotter commented on #172
Been looking into this already 6.6.0 iirc

[2019-05-14 01:26] kaelancotter commented on #172
Do we want pinned at 6.6.0 or something closer to latest (7.0.1 at this time)?  Also any preference about oss vs standard?

[2019-05-14 03:19] kaelancotter commented on #172
https://github.com/kaelancotter/engage-backend/commit/c112c3dae853ab4c779fedc728cbfece396266d6  Is a start at least

[2019-05-21 01:49] owenjoseph opened #173 "Successful scrape triggers tweet"
Each time we successfully scrape new agenda content and post to the feed, we should post a new tweet to the Engage Santa Monica twitter account: @EngageStaMonica

Tweet language should equal:

Agenda Items for the next @santamonicacity City Council meeting is open for public feedback until 11:59am [Month | Date]. Head to http://sm.engage.town now to voice your opinion!

Month | Date text should be

[2019-05-21 02:26] mostafa-abdo commented on #173
Would using IFTTT, https://ifttt.com/, be a good fit for this task? I believe we would need an rss feed on the site.

[2019-05-21 07:11] eselkin commented on #173
There is already an event that happens when a new agenda is scraped. Then use https://github.com/bear/python-twitter

[2019-06-30 02:35] TeddyCr commented on #172
@kaelancotter / @eliselkin what do you guys think of creating 1 index per year per committee? The idea being that data will be centralized across municipalities (similar to how our RDBSM is managed) in the elastic search cluster but distinguished based on the index.

[2019-06-30 03:05] TeddyCr opened #174 "Create indexing flow to our Elasticsearch node"
### Context
Engage is working on developing a search functionality to improve the UI experience of its user. We'll use elastic search to enable users to narrow down agenda items to a specific topic.
Interesting link: install Elasticsearch on Docker

### Links
- [Elasticsearch documentation](https://www.elastic.co/guide/en/elasticsearch/reference/current/getting-started-query-document.html)

### De

[2019-06-30 16:59] TeddyCr opened #175 "Create querying and search flow for Elasticsearch"
### Context
Engage is working on developing a search functionality to improve the UI experience of its user. We'll use elastic search to enable users to narrow down agenda items to a specific topic.

### Links
- [Elasticsearch data exploration documentation](https://www.elastic.co/guide/en/elasticsearch/reference/current/getting-started-explore-data.html)
- [Multi-fields query matching](https://ww

[2019-06-30 17:26] TeddyCr commented on #153
These to-dos are all individually referenced in #172 , #174 , #175 (link to [project](https://github.com/orgs/hackla-engage/projects/3))

[2019-06-30 17:26] #153 closed

[2019-06-30 18:51] eselkin commented on #172
Indexes are pretty large structural things in elasticsearch... probably having 1 index per committee is best and just adding years to the index. You would need separate endpoints for each index and that's a lot of work/extra stuff for the backend.

[2019-06-30 18:55] TeddyCr commented on #172
Make sense. In the proposed document field structure (#174) we put a "date" field.

[2019-06-30 20:24] eselkin commented on #172
This way, you can also limit between date ranges rather than having to make multiple calls to different indices.

[2019-06-30 20:26] eselkin commented on #174
I'd also consider adding a redundant tags array (Array of strings)

[2019-06-30 20:28] eselkin commented on #174
Also, date should be a date object not a string

[2019-06-30 20:47] eselkin commented on #174
Tags should be a keyword datatype, and title, department, recommendations, and body should be text... However, title, recommendations, and body should also have index and index_phrases set to true.

A mapping might look like

[code]
values for tags can be inserted as an array and it will make each element a keyword

[2019-07-03 03:15] TeddyCr commented on #174
What do you think about making `department` a keyword type as well?  `It may be better if we use the elasticsearch indices as source for analysis and updating of content rather than the PostgreSQL` do you mean fecthing agenda item on the backend directly from Elasticsearch as opposed to postgres?

[2019-07-04 01:17] eselkin commented on #174
I'm not sure what I mean about the analysis yet, because we don't do any for the tagging yet, but when we do, we'd like to pull from a richer source like elasticsearch.

department is an indexed text field, it probably doesn't need the reference architecture of a keyword... but you can do either.

[2019-07-04 01:20] eselkin commented on #174
Actually, I was rethinking the organization of the mappings (if we choose to do something like what Bonnie was suggesting with user identification of tags and some predefined users aliasing and tailoring the tags).

[2019-07-15 21:54] owenjoseph commented on #167
@eliselkin I think we determined that we couldn't incorporate the numbering into the report because it'd require some complex adjustments to the scraper. However, are we at least presenting the agenda items in the order in which they are scraped?

[2019-07-15 22:00] owenjoseph commented on #114
@TeddyCr do you know if any of this has been incorporated?

[2019-07-15 22:21] owenjoseph commented on #167
@skvrd let me know if you're still doing anything with this, otherwise I can unassign it

[2019-07-16 06:19] eselkin commented on #167
They are being ordered by agenda item id, I don't know any other way to do it. Order is not preserved in the scraping since items may be retrieved out of order.

[2019-07-16 19:44] eselkin commented on #167
I can see if there might be a way to scrape in order, but it might slow down the scraping process (which is already very slow)

[2019-07-18 04:40] eselkin commented on #114
None of that is added... We would have a hard time doing headers and footers.

[2019-07-18 04:45] eselkin commented on #175
The nice thing about elastic search is you can open the querying up to the world and only have adding locally accessible. That way you don't need a backend endpoint, just the HTTP queries to elasticsearch.

[2019-07-29 20:50] owenjoseph commented on #114
@eliselkin if we want more control over report formatting, does our current library allow for it, or should we open an issue to research alternatives?

[2019-07-29 21:04] eselkin commented on #114
There are no PDF alternatives except maybe generating LaTeX and setting up a system to process the LaTex into PDF... I guess that could work

[2019-07-29 21:12] owenjoseph commented on #114
We should tag issues like this with "needs research" or something like that.

[2019-07-29 23:21] eselkin commented on #114
Actually, the more I think about it, the more that option makes sense using LaTeX for formatting, because it can make headers and footers without a problem since it's a typesetting language

[2019-07-30 01:23] eselkin opened #176 "Instead of PDF generate LaTeX"
1. Add `texlive` to celery container (large)
    a. apt install texlive
2. When PDF creation is triggered, form LaTeX intermediate step
    a. Preamble:

[code]

3. The tocbibind would handle clickable  table of contents with \tableofcontents

[Basic_Construct_for_Engage.pdf](https://github.com/hackla-engage/engage-backend/files/3444781/Basic_Construct_for_Engage.pdf)

[2019-07-30 02:48] hungrymonkey opened #177 "Document Pipfile in the new install"
We seem to have migrated from `requirements.txt` to Pipfile but the `README` does not reflect it.

https://github.com/hackla-engage/engage-backend/commit/dd71fcd448dc2f34ff616845b2a8f42489e6e015

https://github.com/hackla-engage/engage-backend/blob/master/README.md

[2019-08-21 02:22] #170 closed

[2019-08-22 18:44] eselkin commented on #176
See new repo [simple-latex](https://github.com/hackla-engage/simple-latex)

Currently engage-celery uses this repo and latexmk to produce new pdfs with required table of contents, headings, etc.

[2019-08-22 18:44] #176 closed

[2019-08-22 19:57] eselkin commented on #114
So now there are headers which show which agenda item the comments are for.
There are page numbers
I'll add # responses, pro con etc. to a little line below the item name. We can add the name of the council meeting to the header for each page, but I think it's a bit of an overkill

[2019-08-27 20:11] hungrymonkey opened #180 "scrap_data removal should be reflected in the README"
When the scraper has been refactored into the library, scrape_data command has been removed from the engage_backend.

https://github.com/hackla-engage/engage-backend/tree/master/engage/ingest/management/commands

This line will have to be removed and replaced.

https://github.com/hackla-engage/engage-backend/blame/master/README.md#L80

[2019-09-18 19:08] eselkin opened #182 "engage/views/Message/addMessage UGLY"
The addMessage function on this path is so ugly.

First we need to separate 2 functions based on login status.
Second, we need to refactor the function (it's a beast and hard to debug)
Third, it's not that hard of a problem. Medium difficulty.

[2019-10-15 02:20] TeddyCr commented on #173
@calyao  what is the update on this? Are you still working on it?

[2019-10-16 05:56] calyao commented on #173
I'm sorry; I'm not working on it. No updates as a result.

[2019-10-19 22:50] eselkin commented on #173
This should actually be in the Celery repo not the backend.

[2019-10-19 22:50] #173 closed

[2019-10-25 16:13] TeddyCr commented on #172
Completed.
View PR [#3](https://github.com/hackla-engage/engage-docker/pull/3) in engage-docker repor

[2019-10-25 16:13] #172 closed

[2019-10-25 16:14] TeddyCr commented on #174
agenda items ingestion flow should be added to the engage-scrapper library as a separate module (`esutils.py`) - as opposed to the celery task.

[2019-12-03 04:30] TeddyCr commented on #95
@eselkin can we close this now that we have [engage-scrapper](https://github.com/hackla-engage/engage-scraper)

[2019-12-03 04:35] eselkin commented on #95
Yes, but we should open one there

[2019-12-03 04:35] #95 closed

[2019-12-03 05:22] TeddyCr commented on #114
I am considering this has close with the latest version of the pdf

[2019-12-03 05:22] #114 closed

[2019-12-03 05:27] TeddyCr commented on #167
This is going to be moved to backlogs

[2019-12-03 05:28] TeddyCr commented on #168
This has been added

[2019-12-03 05:28] #168 closed

[2019-12-03 05:38] TeddyCr commented on #182
@eselkin do you have any recommendations on how you would like the function to be refactor? Could you also provide some details regarding the login status?

[2019-12-11 01:19] eselkin commented on #182
Login status is handled by django and should not be our focus. It is the standard operation of django to create a user object when a user is logged in.
Basically, I would consider taking the function and create two: 1. addMessage and 2. addMessageUser

The two are significantly different in how they process data (i.e. the User function does not need a user to add information about themselves each